@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
  font-family: sans-serif;
  height: 100%;
  .change-content {
    color: #2e3131 !important;
  }
  .navbar {
    border-radius: 0px !important;
  }
  .facebook {
    font-size: 12px;
  }
  .form-group{
    .error-message{
      color:#f03434;
      text-align: left;
    }
  }
  .no-display {
    padding-bottom: 20px !important;
  }
}

*:focus{
  outline: 0 !important;
}

.navbar-brand span, .jumbotron {
  font-family: Montserrat !important;
  font-weight: 500;
}

.spinner {
  position: relative;
  top: 35vh;

  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

