@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
  font-family: sans-serif;
  height: 100%;
  .navbar-default {
    // border-color: #34495e !important;
    // background-color: #34495e; 
  }
  .change-content {
    color: #2e3131 !important;
  }
  .navbar {
    border-radius: 0px !important;
  }
  .facebook {
    font-size: 12px;
  }
  .form-group{
    .error-message{
      color:#f03434;
      text-align: left;
    }
  }
  .no-display {
    padding-bottom: 20px !important;
  }
}

*:focus{
  outline: 0;
}

.navbar-brand span, .jumbotron {
  font-family: Montserrat !important;
  font-weight: 500;
}

