@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
  font-family: sans-serif;
  height: 100%;
}

*:focus{
  outline: 0;
}

.navbar-brand span, .jumbotron {
  font-family: Montserrat !important;
  font-weight: 500;
}
